.app {
  margin: 40px;
  color: rgb(196, 137, 255);
  font-weight: bold;
  .count {
    font-size: 40px;
    font-weight: bold;
    color: rgb(154, 169, 255);
  }
  button {
    margin: 12px 0;
  }
}
